{% extends "small-header" %}

{% block small_header_title %}
Test
{% endblock small_header_title %}

{% block content %}

<div class="w3-container w3-theme">
        <table class='w3-table-all'>
            <tr>
            {% for relay in relays %}
                <td><input class="w3-button w3-block w3-round-large w3-black" type="button" id="{{ loop.index }}" value="{{ relay }}"></td>
{% if loop.index is even %}</tr><tr>{% endif %}
            {% endfor %}
            </tr>
    </table>
</div>

    <script>
    $("input").click((e) => {
            $(e.target).toggleClass("w3-black");
            $(e.target).toggleClass("w3-green");
        relay_val = 0
         $("input").each((i, button) => {
                     if(button.className.split(' ').includes("w3-green")) {
                         relay_val += 1 << i
                     }
                 })
         $.get("/set_relays/" + relay_val, (data, status) => {
                     console.log("Data: " + data + "\nStatus: " + status);
                 });
    });
    </script>

{% endblock content %}
